**/node_modules
dist
client/dist
*.tsbuildinfo
coverage
.git
.gitignore
*.md
.env
.env.*
!.env.example
src/core/prisma/generated
Dockerfile
.dockerignore
docker-compose.yml
npm-debug.log
yarn-error.log
